#poster
  %img{src: @movie.poster_url.to_s}

#movie
  #info
    #title
      %h1= @movie.title
    #description
      %p= @movie.description
    #trailer
      %i.icon-youtube-play
      =link_to "Watch the trailer on YouTube", @movie.trailer_url, {target: "blank"}

  #showtimes
    %h2.centered Showtimes

    %table
      %thead
        %th Location
        %th Time
      %tbody
        - @showtimes.each do |showtime|
          %tr
            %td= showtime.location
            %td= showtime.time


    = form_for [@movie, @showtime] do |f|
      .location
        = f.label :location
        = f.text_field :location
      .time
        = f.label :time
        = f.text_field :time
      .submit
        = f.submit 'Create Showtime', :class => "button"


  #comments
    %h2.centered Comments

    %table
      %thead
        %th Comment
        %th Author
      %tbody
        - @comments.each do |comment|
          %tr
            %td= comment.comment
            %td= comment.author


    = form_for [@movie, @comment] do |f|
      .comment
        = f.label :comment
        = f.text_field :comment
      .author
        = f.label :author
        = f.text_field :author
      .submit
        = f.submit 'Create Comment', :class => "button"

      